<form [formGroup]="givingForm" class="form mt-3" (ngSubmit)="onSubmitForm()">
    <div class="row justify-content-center">
        <div class="card col-md-10">
                <div class="card-header text-center" *ngIf="!updateMode">Formulaire ajout de don</div>
                <div class="card-header text-center" *ngIf="updateMode">Modifier un don</div>
                <div class="card-body">
                    <div class="col-md-12">
                        <label for="lot-choice">Choisissez un Lot</label>
                        <select formControlName="idLot" [(ngModel)]="currentIdLot" (ngModelChange)="onLotChange()" id="lot-choice" class="form-control">
                            <option *ngFor="let lot of lots" value="{{lot.idLot}}">
                                Lot Numéro {{lot.idLot}} de: {{lot.Asset.label}} ({{lot.Asset.Unit.abrv}})</option>
                        </select>
                    </div><br />
                    <div class="col-md-12">
                        <label for="q-slider">Sélectionnez la quantité ({{currentUnit}})</label>
                        <mat-slider thumbLabel [min]="1" [max]="maxQuantity" id="q-slider" formControlName="quantity"></mat-slider>
                    </div><br />
                    <div class="col-md-12">
                        <label for="description">Description</label>
                        <input formControlName="description" id="description" placeholder="Description" class="form-control"/>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-center">

                        <button mat-stroked-button type="submit" *ngIf="!updateMode" color="foodeco" [disabled]="givingForm.invalid || currentIdLot==0" class="mr-2">Creer</button>
                        <button mat-stroked-button type="submit" *ngIf="updateMode" color="foodeco" [disabled]="givingForm.invalid">Mettre a jour</button>
                        <button mat-stroked-button type="button" (click)="deleteToGive()" *ngIf="updateMode" color="red" class="ml-2">Supprimer</button>
                        <button mat-stroked-button type="button" [routerLink]="[ '/given']" class="ml-2">Retour</button>
                    </div>
                </div>

        </div>
    </div>

    

</form>            