<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
      <app-asset-form (messageEvent)="receiveMessage($event)"></app-asset-form>
    </div>
    <div class="col-md-12 ">
<br>
  <input class="form-control " (keyup)="applyFilter($event)" placeholder="Recherche">


      <div class="mat-elevation-z8 ">
    
        <table mat-table [dataSource]="dataSource" matSort class="col-md-12 " style="margin-top:24px;">

          <!--Label Column -->
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
            <td mat-cell *matCellDef="let element;" (dblclick)="displayInput(element)">
              <input class="form-control form-control-sm w-100" type="text" [(ngModel)]="label"
                *ngIf="idInputLabelUpdate==element.idAsset" id="{{element.idAsset}}Label" value="{{element.label}}">
              <span *ngIf="idInputLabelUpdate!=element.idAsset">{{element.label}}</span> </td>
          </ng-container>


          <!-- Unit Column -->
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unité </th>
            <td mat-cell *matCellDef="let element" (dblclick)="displayInput(element)">
              <select class="form-control form-control-sm w-100" [(ngModel)]="unit"
                *ngIf="idInputLabelUpdate==element.idAsset">
                <option *ngFor="let unit of units" value="{{unit.idUnit}}">{{unit.abrv}}</option>
              </select>
              <span *ngIf="idInputLabelUpdate!=element.idAsset">{{element.Unit.abrv}}</span>
            </td>
          </ng-container>

          <!-- Count Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Utilisé </th>
            <td mat-cell *matCellDef="let element;let i= index;">
              {{tabCountAssetInProduct.get(element.idAsset)}}
            </td>
          </ng-container>
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element" class="text-right">
              <button  type="button" class="btn btn-secondary mt-2 " [ngClass]="{'btn-primary':idAssetClick===element.idAsset }"
               *ngIf="tabCountAssetInProduct.get(element.idAsset)!=0"
                (click)="idAssetClick=element.idAsset;">Détails </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element" class="text-right">
              <span class="btn-danger btn mt-2" *ngIf="idInputLabelUpdate!=element.idAsset"
                (click)="deleteAsset(element)">delete</span>
              <span class="mt-2 btn-warning  btn" *ngIf="idInputLabelUpdate==element.idAsset"
                (click)="updateAsset(element)">edit</span>
            </td>

          </ng-container>
      

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <app-asset-compose-product-tab [idAsset]="this.idAssetClick"></app-asset-compose-product-tab>
    </div>
  </div>
</div>