<form [formGroup]="orderForm" class="form mt-3" (ngSubmit)="onSubmitForm()">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div formArrayName="items" class="card m-0 ">
                <div class="card-header text-center" *ngIf="updateMode">COMMANDE {{idOrder}}</div>
                <div class="card-header text-center" *ngIf="!updateMode">COMMANDE</div>

                <div class="card-body">
                    <h5>Ajouter Menus/Produits:</h5><br />
                    <div class="form-row align-items-center mt-1" 
                        *ngFor="let item of formItems.controls; let itemIndex=index" [formGroupName]="itemIndex">
                        <div class="mr-2" [ngSwitch]="item.value.OrderLineStatus">
                            <div class="float-right" *ngSwitchCase="0">
                                <button mat-mini-fab type="button" (click)="showStatus(0)" color="red" aria-label="status">
                                </button>
                            </div>
                            <div class="float-right" *ngSwitchCase="1">
                                <button mat-mini-fab type="button" (click)="showStatus(1)" color="yellow" aria-label="status">
                                </button>
                            </div>
                            <div class="float-right" *ngSwitchCase="2">
                                <button mat-mini-fab type="button" (click)="showStatus(2)" color="blue" aria-label="status">
                                </button>
                            </div>
                            <div class="float-right" *ngSwitchCase="3">
                                <button mat-mini-fab type="button" (click)="showStatus(3)" color="green" aria-label="status">
                                </button>
                            </div>  
                        </div>

                        <select formControlName="id"
                            class="form-control form-control-sm col col-sm-4 col-md-4 ">
                            <option></option>
                            <option value="{{item.idItem}}" *ngFor="let item of onlineItems">
                                {{item.title}}</option>
                        </select>

                        <input formControlName="quantity"  type="number" min="1" 
                            class="form-control form-control-sm col-1 col-sm-1 col-md-1" />

                        <input formControlName="comments" placeholder="Commentaire spécial" 
                            class="form-control form-control-sm col-2 col-sm-2 col-md-5" />

                        
                        <button mat-mini-fab type="button" (click)="deleteAsset(itemIndex)" *ngIf="(itemIndex!=0 || (updateMode)) && (item.value.OrderLineStatus == 0)" color="red" class="float-right" aria-label="Supprimer">
                            <mat-icon>remove</mat-icon>
                        </button>

                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-mini-fab type="button" color="foodeco" class="float-right" (click)="addAsset()" aria-label="Ajouter">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-center">

                        <button mat-stroked-button type="submit" *ngIf="updateMode==false" color="foodeco" [disabled]="orderForm.invalid" class="mr-2">Creer</button>
                        <button mat-stroked-button type="submit" *ngIf="updateMode==true" color="foodeco" [disabled]="orderForm.invalid">Mettre a jour</button>
                        <button mat-stroked-button type="button" (click)="deleteOrder()" *ngIf="updateMode==true" color="red" class="ml-2">Supprimer</button>
                        <button mat-stroked-button type="button" [routerLink]="[ '/tables']" class="ml-2">Retour</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

</form>            
