<div class="container">
    <h1 class="text-center text-light">COMMANDES PASSÉS</h1>

    <table mat-table [dataSource]="dataSource" matSort class="col-md-12 " style="margin-top:24px;">

        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro Commande </th>
        <td mat-cell *matCellDef="let element;">
            <span>{{element.idOrder}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="takeaway">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Emporté </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.takeaway}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="priceTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix Total </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.priceTotal}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date et heure </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.createdAt  | date:"yyyy-MM-dd à HH:mm"}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element" class="text-right">
            <button mat-stroked-button type="button" (click)="unpayOrder(element.idOrder, element.idTable, element.takeaway)" color="foodeco">Restaurer</button>
        </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>

    <button mat-stroked-button type="button" [routerLink]="['/tables']" color="foodeco-white" class="float-right mt-3">Retour</button>

</div>

