<!-- TODO details supplier  -->
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-body row">
        <div class="col-md-2">
          <mat-icon style="font-size:75px;margin-top: 30px;margin-left: -20px; color:#3369e8">person</mat-icon>
        </div>
        <div class="col-md-10">
          <h5 class="card-title text-center "><strong>{{supplier.name}}</strong></h5>

          <div>
            <mat-icon class="col-md-1 icon-size">place</mat-icon> <span
              class="text-left col-md-10">{{supplier.address}}</span>
          </div>
          <div>
            <mat-icon class="col-md-1 icon-size">alternate_email</mat-icon><span
              class="text-left col-md-10">{{supplier.email}}</span>
          </div>
          <div>
            <mat-icon class="col-md-1 icon-size">phone</mat-icon><span
              class="text-left col-md-10">{{supplier.tel}}</span>
          </div>
          <div class="justify-content-center mt-2"><button type="button" class="  btn btn-secondary"
              [routerLink]="['/supplier/edit/',supplier.idSupplier]" routerLinkActive="router-link-active">
              Modifier</button>
              <button type="button" class="btn btn-success"  [routerLink]="['/supplier']" routerLinkActive="router-link-active"  >Retour</button>
            </div>
        </div>


      </div>
    </div>
    <ul class="list-group col-md-12 ml-1 mt-3">
      <li class="list-group-item text-center">Catalogue</li>
      <li class="list-group-item " *ngFor="let item of supplierDetails">{{item.Asset.label}}</li>
    </ul>
  </div>
  <div class="col-md-8">
    <br>
    <input class="form-control " (keyup)="applyFilter($event)" placeholder="Recherche">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="lot" class=" col-md-12 " style="margin-top:24px;">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> Label </th>
          <td mat-cell *matCellDef="let element"> {{element.Asset.label}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef> Date de Reception </th>
          <td mat-cell *matCellDef="let element"> {{element.deliveryDate}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="expireDate">
          <th mat-header-cell *matHeaderCellDef> Date de peremption </th>
          <td mat-cell *matCellDef="let element"> {{element.expireDate}} </td>
        </ng-container>
        <ng-container matColumnDef="currentQuantity">
          <th mat-header-cell *matHeaderCellDef> Quantity réel </th>
          <td mat-cell *matCellDef="let element"> {{element.currentQuantity}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantité </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Prix unitaire</th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>
<!-- TODO details lot de se suppleir  -->

<!-- TODO details produits qu'il vends -->