<div class="row justify-content-center mt-2">
    <div class="searchBack bg-light border col-md-6 shadow-sm d-inline p-3">
        <form [formGroup]="formGroupSearch" class="col-md-12  form-inline">
            <input (input)="p=1" formControlName="search" class="form-control col-md-12" type="search"
                placeholder="Recherche par Titre">
        </form>
        <div class="row justify-content-center ">
            <button (click)="loadProduct()"  [ngClass]="{'btn': true,'btn-primary':btnFilterActive==0,'btn-secondary':btnFilterActive!==0}" >Produit</button>
            <button (click)="loadMenu()" [ngClass]="{'btn': true,'btn-primary':btnFilterActive==1,'btn-secondary':btnFilterActive!==1}" >Menu</button>
            <button (click)="getItems()" [ngClass]="{'btn': true,'btn-primary':btnFilterActive==2,'btn-secondary':btnFilterActive!==2}" >Tout</button>
            <button [routerLink]="['/catalog']" routerLinkActive="router-link-active"  class="btn btn-secondary" ><span class="material-icons mt-1">add</span> <span class="float-right">menu/Produit</span></button>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-3 col-12 col-sm-6"
        *ngFor="let item of items |filterCatalog:this.formGroupSearch.get('search').value | paginate: { itemsPerPage: 12, currentPage: p }  ;    let indexItem=index ;let countI=count">
        <div class="card ">
            <div class="card-img-top " [ngStyle]="{'background-color': item.isMenu==0?'rgba(187, 120, 36, 0.1)': 'rgba(22, 160, 133, 0.1)'}" style="height: 120px;padding-top: 20px;">
                <div style=" margin:auto;width: 6em">
                     <img style="color:#BB7824;width:75px;padding: auto;" *ngIf="item.isMenu==0" class="m-auto" src="../../../../assets/pictures/menuico.png" >
                     <img style="color:#BB7824;width:75px;padding: auto;" *ngIf="item.isMenu==1" class="m-auto" src="../../../../assets/pictures/produitico.png" >

                </div>
                
               
            </div>
            <div class="card-img-overlay  h-25 ">
                <div class="text-right " style="margin-top: -15px;">
                    <div class="material-icons text-danger bg-light rounded-circle" (click)="deleteItem(item)"
                        role="button">close</div>
                </div>
            </div>
            <div class="card-body text-center">
                <div class="card-title"><strong>{{item.title}}</strong></div>
                <div class="card-text center"><strong>{{item.price}} €</strong> </div>
                <a (click)="updateOnline(item)" id="{{item.idItem}}online"
                    [ngClass]="{'btn': true,'btn-success':item.online,'btn-danger':!item.online}">
                    <span class="material-icons mt-1">
                        power_settings_new
                    </span>
                </a>
                <button class="btn ml-1" [routerLink]="['/catalog',item.idItem]" routerLinkActive="router-link-active">
                    <span class="material-icons mt-1">
                        edit
                    </span>
                </button>
            </div>
        </div>
    </div>


</div>

<div class="row justify-content-center">
    <pagination-controls class=" p-3 mt-1 h-25" style= "color :white!important;"  (pageChange)="p = $event"></pagination-controls>
</div>
