<mat-sidenav-container >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="(isHandset$ | async) ? 'side': 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>  <img class="logoFoodEco" src="assets/pictures/logoFoodEco/logoBlue.png"></mat-toolbar>
<br><br><br><br>
    <mat-nav-list>
      <div *ngFor="let menuItem of menuItems" class="sidenav-menu">
            <a *ngIf="menuItem.display" routerLinkActive="active-list-item" mat-list-item [routerLink]="[menuItem.path]" class="{{menuItem.class}}" >
                <mat-icon style="margin-right: 7px;">{{menuItem.icon}}</mat-icon>
                {{menuItem.title}}
            </a>
            
      </div>      
    </mat-nav-list>
  </mat-sidenav>

    <mat-toolbar class="horizontal-nav">
      <button
        style=" outline: none;"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon>len</mat-icon>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>
          <mat-icon>home_work</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content ></ng-content>

</mat-sidenav-container>
