<div class="row justify-content-center mt-2">
  <div class="searchBack bg-light border col-md-6 shadow-sm d-inline p-3">
    <form [formGroup]="formGroupSearch" class="col-md-12  form-inline">
      <input (input)="p=1" formControlName="search" class="form-control col-md-12" type="search"
        placeholder="Recherche">
    </form>
    <div class="row justify-content-center ">
      <button [routerLink]="['/supplier/add/form']" routerLinkActive="router-link-active"
        class="btn btn-secondary"><span class="material-icons mt-1">add</span> <span
          class="float-right">supplier</span></button>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-2">
  <div class="col-md-5">
    <mat-card>
      <agm-map [zoom]="12" [latitude]="lat" [longitude]="lon">
          <div *ngFor="let supplier of suppliers">
              <agm-marker [iconUrl]="'assets/pictures/blue2.png'" [label]="supplier.idSupplier.toString()" *ngIf="supplier.isShown" [latitude]="supplier.latitude" [longitude]="supplier.longitude">
                  <agm-info-window [disableAutoPan]="true">
                      {{supplier.name}}<br />
                      <a style="cursor:pointer;" [routerLink]="['/supplier',supplier.idSupplier]">Détails</a>
                  </agm-info-window>
              </agm-marker>
          </div>
          
          <agm-marker [iconUrl]="'assets/pictures/home.png'" [latitude]="lat" [longitude]="lon">
              <agm-info-window [disableAutoPan]="true">
                  {{currentEntity}}<br />
                  <p>Votre établissement</p>
              </agm-info-window>
          </agm-marker>
          <agm-circle *ngIf="radiusSearch" [latitude]="lat" [longitude]="lon" [radius]="radius" [fillColor]="'blue'"
          [editable]="true"
          (radiusChange)="event('radiusChange',$event)">
          </agm-circle>
      </agm-map>  
      <div class="row mt-2">
          <div class="col-md-6">
              <button mat-stroked-button  type="button" color="foodeco-white" (click)="changeRadiusSearch(true)" *ngIf="!radiusSearch">Activer la recherche par rayon</button>
              <button mat-stroked-button  type="button" color="foodeco-white" (click)="changeRadiusSearch(false)" *ngIf="radiusSearch">Désactiver la recherche par rayon</button>
          </div>
          <div class="col-md-6">
              <h4 style="margin-top:6px" *ngIf="radiusSearch">Rayon: {{radiusDisplay}}</h4>
          </div>
      </div>
  </mat-card>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div
        *ngFor="let supplier of filteredSuppliers | searchByProductSupplier:products:this.formGroupSearch.get('search').value | paginate: { itemsPerPage: 12, currentPage: p }  ;  "
        class="col-md-6">
        <div class="card ">
          <div class="col">
            <button type="button" (click)="deleteSupplier(supplier)" class="close mt-1" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="float-left circle">{{supplier.idSupplier}}</div>
              </div>
              <div clsas="col-md-8">
                <h5 class="card-title text-center"><strong>{{supplier.name}}</strong></h5>
                <div class="card-text text-center">

                  <div>{{supplier.address}}</div>
                  <div>{{supplier.email}}</div>
                  <div>{{supplier.tel}}</div>
                  <button type="submit" class="btn btn-primary text-center mt-1"
                    [routerLink]="['/supplier',supplier.idSupplier]" routerLinkActive="router-link-active">Details</button>

                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>
 
<div class="row justify-content-center">
  <pagination-controls class=" p-3 mt-1 h-25" style="color :white!important;" (pageChange)="p = $event">
  </pagination-controls>
</div>