

.takeaway-title {
    color:white;
    text-decoration: solid;
}

.block {
    width: 200%;
}

.payedColor {
    background-color: rgb(24, 90, 24);
}

.awaitColor{
    background-color: rgb(218, 34, 34);
}

.inLoadColor{
    background-color: rgb(221, 221, 15);
}

.readyColor{
    background-color: rgb(25, 25, 218);
}
  .back {
      background-color: #e9ecef;
  }

  .cardd {
    background-color: #445A6E;
  }

    .backk {
    background-color: #d3dee9;
    }

.mat-foodeco {
    background-color: #2c3e4e;
    color: #fff;
}

.mat-pay {
    background-color: rgb(24, 90, 24);
    color: #fff;
}

.mat-takeaway {
    background-color: #d3dee9;
    color: #445A6E;
}

.mat-red {
    background-color: rgb(218, 34, 34);
    width: 25px;
    height: 25px;
    color: #fff;
}

.mat-yellow {
    background-color: rgb(221, 221, 15);
    width: 25px;
    height: 25px;
    color: #fff;
}

.mat-blue {
    background-color: rgb(25, 25, 218);
    width: 25px;
    height: 25px;
    color: #fff;
}

.mat-green {
    background-color: rgb(41, 124, 41);
 
    color: #fff;
}

.roundded {
    border-radius: 10px;
}
