<nav class="navbar  mt-2 navbar-light bg-light roundded col-md-12">
      <ul class="navbar-nav mr-auto d-inline">
        <li class="nav-item d-inline">
            <button mat-stroked-button type="button" [routerLink]="['/order/history']" color="foodeco" class="mr-2">Historique</button>
        </li>
        <li class="nav-item d-inline">
            <button mat-stroked-button type="button" (click)="showForm = true" color="foodeco" class="mr-2">Ajouter Table</button>
        </li>
        <li class="nav-item d-inline">
            <button mat-stroked-button type="button" (click)="fullScreen()" color="foodeco" class="mr-2">Plein écran</button>
        </li>
        <li class="nav-item d-inline">
        </li>
        </ul>
        <button mat-stroked-button type="button" (click)="showTakeaways = !showTakeaways" color="foodeco" class="mr-2">Commandes Emportés</button>
</nav>
<div class="row mt-2">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-8" *ngIf="showForm">
                <form [formGroup]="tableForm" (ngSubmit)="onSubmitForm()">
                <div class="card">
                    <div class="card-header d-flex">
                        Formulaire Ajout Table
                        <div class="ml-auto" style="cursor:pointer" (click)="closeForm()">
                        X
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group col-md-12">
                            <label for="name">Nom</label>
                            <input formControlName="name" placeholder="Nom de la table" class="form-control" id="name"/>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="seats">Nombre de siéges</label>
                            <input formControlName="seats"  type="number" min="1"
                                class="form-control" id="seats"/>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">Description</label>
                            <input formControlName="description" placeholder="Description"
                            class="form-control" id="description" />
                         </div>
                        <button mat-stroked-button type="submit" [disabled]="tableForm.invalid" color="foodeco">Valider</button>

                    </div>

                  </div>
                </form>

            </div>
        </div>
        
    </div>
    <div class="card-columns"  [ngClass]="{'col-md-12': !showTakeaways, 'col-md-8': showTakeaways}">
                <div class="card bg-light mb-3 " *ngFor="let table of tables" >
                    <div class="card-header d-flex rounded">
                        {{table.name}}
                        <div class="ml-auto" style="cursor:pointer" (click)="deleteTable(table.idTable)">
                            X
                        </div>
                    </div>
                    <div class="card-body p-1">
                        <div  *ngFor="let order of table.orders">
                        <div class="back mt-2">
                            <div class="card-header">
                                        Com {{order.idOrder}}
                                           <div  class="float-right ">
                                        <mat-icon style="cursor: pointer;" [routerLink]="['/order',order.idOrder]">edit</mat-icon>
                                           </div>
                                </div>
                            <div class="card-body p-1">
                                <ul class="list-group shadow-none">
                                    <li class="list-group-item shadow-none rounded-0  "   *ngFor="let orderLine of order.orderLines">
                                        {{orderLine.quantity}} x {{orderLine.catalogOrder.title}}
                                        
                                        <div class="float-right" >
                                            <button mat-mini-fab  style="width: 25px;height: 25px;" [ngClass]="{'awaitColor': orderLine.status==0,'inLoadColor':orderLine.status==1,'readyColor':orderLine.status==2,'payedColor':orderLine.status==3}" (click)="onClickUpdateStatus(orderLine)" aria-label="Modifier">
                                            </button>
                                        </div>  
                                   </li>
                                  </ul>
                  
                       
                            </div>
                            <div class="card-footer d-flex">
                                Total: {{order.priceTotal}}€
    
                                        
                                        <button mat-stroked-button type="button" class="ml-auto mat-green" (click)="payOrder(order)" aria-label="Modifier" >Payer</button>

                            <br>
                                </div>
                        </div>
                        
                        </div>
                        <button mat-mini-fab color="foodeco" class="float-right" [routerLink]="['/order/table',table.idTable]" aria-label="Ajouter Commande">
                            <mat-icon>add</mat-icon>
                        </button><br />
                    </div>
                    <div class="card-footer d-flex col-md-12 bg-light">
                        <div>{{table.numberOfSeats}} Siéges</div>
                        <div class="ml-auto">
                            {{table.description}}
                        </div>
                    </div>
                  </div>
        </div>
    <div class="col-md-4" *ngIf="showTakeaways">
        <div class="card cardd mb-3">
            <div class="card-header text-center takeaway-title">COMMANDES A EMPORTER</div>
            <div class="card-body p-1">
                    <div  *ngFor="let order of takeawayOrders">
                        <div class="back mt-2">
                            <div class="card-header">
                                        Com {{order.idOrder}}
                                           <div  class="float-right ">
                                        <mat-icon style="cursor: pointer;" [routerLink]="['/order',order.idOrder]">edit</mat-icon>
                                           </div>
                                </div>
                            <div class="card-body p-1">
                                <ul class="list-group shadow-none">
                                    <li class="list-group-item shadow-none rounded-0  "   *ngFor="let orderLine of order.orderLines">
                                        {{orderLine.catalogOrder.title}}
                                        
                                        <div class="float-right" >
                                            <button mat-mini-fab  style="width: 25px;height: 25px;" [ngClass]="{'awaitColor': orderLine.status==0,'inLoadColor':orderLine.status==1,'readyColor':orderLine.status==2,'payedColor':orderLine.status==3}" (click)="onClickUpdateStatus(orderLine)" aria-label="Modifier">
                                            </button>
                                        </div>  
                                   </li>
                                  </ul>
                  
                
                            </div>
                            <div class="card-footer">
                                Total: {{order.priceTotal}}€
    
                                <button mat-stroked-button type="button" class="ml-auto mat-green" (click)="payOrder(order)" aria-label="Modifier">Payer</button>
                            
                                </div>
     
                        </div>    
                </div>
                                <br>  <button mat-mini-fab color="takeaway"class="float-right" [routerLink]="['/order/takeaway']" aria-label="Modifier">
                                    <mat-icon>add</mat-icon>
                                </button>
                               <br><br>
            </div>
          </div>
    </div>
</div>

