<br>
  <input class="form-control " (keyup)="applyFilter($event)" placeholder="Recherche">
<div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="dataSource" matSort class="col-md-12 " style="margin-top:24px;">

        <!-- Position Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
            <td mat-cell *matCellDef="let element;">
                {{element.productAsset.title}}
            </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
            <td mat-cell *matCellDef="let element">
                {{element.quantity}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>
</div>
