<div class="container">
    <h1 class="text-center text-light">DONS</h1>

    <button mat-stroked-button type="button" [routerLink]="['/give']" color="foodeco-white" class="mt-3">Ajouter un don</button>

    <table mat-table [dataSource]="dataSource" matSort class="col-md-12 " style="margin-top:24px;">

        <ng-container matColumnDef="idToGive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element;">
            <span>{{element.idToGive}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="idLot">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro Lot </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.idLot}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="isTaken">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Disponibilité </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.status}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date et heure </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.createdAt  | date:"yyyy-MM-dd à HH:mm"}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.quantity}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element;">
            <span>{{element.description}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" class="text-right">
            <button mat-stroked-button type="button" color="foodeco" *ngIf="element.status == 'Disponible'" [routerLink]="['/give',element.idToGive]">Modifier</button>
            <button mat-stroked-button type="button" color="foodeco" *ngIf="element.status == 'Résérvé'" (click)="changeStatus(element)">Délivrer</button>
        </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>
</div>

