.mat-foodeco {
    background-color: #2c3e4e;
    color: #fff;
}

.mat-red {
    background-color: rgb(218, 34, 34);
    color: #fff;
}

.mat-foodeco-white {
    background-color: #fff;
    color: #2c3e4e;
}