<div class="row justify-content-center mt-2">
    <div class="searchBack bg-light border col-md-6 shadow-sm d-inline p-3">
        <form [formGroup]="formGroupSearch" class="col-md-12  form-inline">
            <input formControlName="search" class="form-control col-md-12" type="search"
                placeholder="Recherche par Titre">
        </form>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <button mat-stroked-button  type="button" color="foodeco-white" (click)="changeSearchMode()">
            <div *ngIf="searchMode">
                Afficher Mes réservations
            </div>
            <div *ngIf="!searchMode">
                Revenir à la recherche
            </div>
    </button>
</div>
        
<div class="row mt-3">
    <div class="col-md-6">
        <mat-card>
            <agm-map [zoom]="12" [latitude]="lat" [longitude]="lon">
                <div *ngFor="let entity of getEntities()">
                    <agm-marker [iconUrl]="'assets/pictures/green.png'" [label]="entity.idEntity.toString()" *ngIf="entity.isShown" [latitude]="entity.latitude" [longitude]="entity.longitude">
                        <agm-info-window [disableAutoPan]="true">
                            {{entity.name}}<br />
                            <a style="cursor:pointer;" (click)="filterToGives(entity.idEntity, entity.name)">Voir les produits</a>
                        </agm-info-window>
                    </agm-marker>
                </div>
                
                <agm-marker [iconUrl]="'assets/pictures/home.png'" [latitude]="lat" [longitude]="lon">
                    <agm-info-window [disableAutoPan]="true">
                        {{currentEntity}}<br />
                        <p>Votre établissement</p>
                    </agm-info-window>
                </agm-marker>
                <agm-circle *ngIf="radiusSearch" [latitude]="lat" [longitude]="lon" [radius]="radius" [fillColor]="'green'"
                [editable]="true"
                (radiusChange)="event('radiusChange',$event)">
                </agm-circle>
            </agm-map>  
            <div class="row mt-2">
                <div class="col-md-6">
                    <button mat-stroked-button  type="button" color="foodeco-white" (click)="changeRadiusSearch(true)" *ngIf="!radiusSearch">Activer la recherche par rayon</button>
                    <button mat-stroked-button  type="button" color="foodeco-white" (click)="changeRadiusSearch(false)" *ngIf="radiusSearch">Désactiver la recherche par rayon</button>
                </div>
                <div class="col-md-6">
                    <h4 style="margin-top:6px" *ngIf="radiusSearch">Rayon: {{radiusDisplay}}</h4>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6">
        <nav *ngIf="(searchMode && (!filteredToGives || filteredToGives.length == 0)) || (!searchMode && (!filteredAssociationToGives || filteredAssociationToGives.length == 0))"
             class="navbar  mb-2 navbar-light bg-light col-md-11">
                Aucune donnée
      </nav>
      
        <nav *ngIf="filtered" class="navbar  mb-2 navbar-light bg-light roundded col-md-11">
            <ul class="navbar-nav mr-auto d-inline">
              <li class="nav-item d-inline">
                <h4  class="no-margin">filtre : {{currentFilteredEntity}}</h4>
             </li>
              </ul>
              <a (click)="unfilterToGives()" class="mr-2">X</a>
      </nav>
        <cdk-virtual-scroll-viewport itemSize="50" class="togive-viewport">
            <div *cdkVirtualFor="let toGive of getFilteredItems() | searchfilter :this.formGroupSearch.get('search').value" class="togive-item">
                <mat-card style="width: 95%;">
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <div class="circle">{{toGive.Entity.idEntity}}</div>
                            </div>
                            <div class="col-md-4">
                                <h5 class="no-margin">{{toGive.Entity.name}}</h5>
                                <p class="no-margin">{{toGive.Entity.address}} {{toGive.Entity.city}}</p>     
                            </div>
                            <div class="col-md-3">
                                <button mat-stroked-button type="button" class="mr-2" color="green">
                                <mat-icon aria-hidden="false">local_phone</mat-icon>
                                {{toGive.Entity.tel}}</button>
                            </div>
                            <div class="col-md-3">
                                <button mat-stroked-button (click)="bookToGive(toGive)" type="button" color="foodeco" *ngIf="searchMode">Réserver</button>
                                <button mat-stroked-button (click)="unbookToGive(toGive)" type="button" color="red" *ngIf="!searchMode && toGive.status == 1 && expiredToGive(toGive)">Annuler</button>
                                <h3 style="margin-top: 7px;" *ngIf="toGive.status == 2">Délivré</h3>
                            </div>
                        </div>

                    <div class="card-body">
                        <div class="row">
                            <ul class="list-group col-md-12">
                            <li class="list-group-item">
                                <div class="row">
                                     <div class="col-md-4">
                                <h5 class="detail-title no-margin">Produit:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5 class="no-margin">{{toGive.Lot.Asset.label}}</h5>
                            </div>
                                </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                                                    <div class="col-md-4">
                                <h5 class="detail-title no-margin">Quantité:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5 class="no-margin">{{toGive.quantity}} {{toGive.Lot.Asset.Unit.label}}</h5>
                            </div>
                                    </div>

                                </li>
                              </ul>
                            
                           
                            <div class="col-md-12">
                                <h6>{{toGive.description}}</h6>
                            </div>
                        </div>
                    </div>

                </mat-card>
                
            </div>
          </cdk-virtual-scroll-viewport>
    </div>
</div>

