<div class="container">
    <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <img src="assets/pictures/gerant.jpg" class="card-img-top pics">
                    <div class="card-body">
                    <h5 class="card-title">FoodEco pour restaurants</h5>
                    <p class="card-text">Vous etes gérant de restaurant et vous voulez vous inscrire sur notre plateforme.</p>
                    <button href="#" class="btn btn-success" [disabled]="disableRestaurantButton" (click)="activateRestaurantForm()">Je m'inscris par ici</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="assets/pictures/association.jpg" class="card-img-top pics">
                    <div class="card-body">
                    <h5 class="card-title">FoodEco pour associations</h5>
                    <p class="card-text">Vous etes gérant d'association et vous voulez vous inscrire sur notre plateforme.</p>
                    <button href="#" class="btn btn-success" [disabled]="disableAssociationButton" (click)="activateAssociationForm()">Je m'inscris par ici</button>
                    </div>
                </div>
    </div>
    <div class="card" *ngIf="showForm">
        <div class="card-body">
             <h2 style="text-align: center;" *ngIf="!isAssociationForm">Formulaire d'inscription RESTAURANT</h2>
             <h2 style="text-align: center;" *ngIf="isAssociationForm">Formulaire d'inscription ASSOCIATION</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3>Informations utilisateur</h3>
        <div clas="form-group">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="firstName">Prénom</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Prénom est un champ obligatoire</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="lastName">Nom</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Nom est un champ obligatoire</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="login">Login</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
                    <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                        <div *ngIf="f.login.errors.required">Login est un champ obligatoire</div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date de naisssance</label>
            <input type="text" formControlName="dateOfBirth" placeholder="YYYY-MM-DD" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
            <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                <div *ngIf="f.dateOfBirth.errors.required">Date de naissance est un champ obligatoire</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email est un champ obligatoire</div>
                <div *ngIf="f.email.errors.email">Format d'email erroné</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Mot de passe est un champ obligatoire</div>
                <div *ngIf="f.password.errors.minlength">Mot de passe doit avoir au moins 6 caractéres</div>
            </div>
        </div>
        <h3>Informations entreprise</h3>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Nom est un champ obligatoire</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="adress">Adresse</label>
                    <input type="text" formControlName="adress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adress.errors }" />
                    <div *ngIf="submitted && f.adress.errors" class="invalid-feedback">
                        <div *ngIf="f.adress.errors.required">Adresse est un champ obligatoire</div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="city">Ville</label>
                    <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">Ville est un champ obligatoire</div>
                    </div>
                </div>
              </div>
        </div>
        <div class="form-group">
            <label for="tel">Telephone</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">✆</span>
                </div>
                <input type="text" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                    <div *ngIf="f.tel.errors.required">Telephone est un champ obligatoire</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success">Valider</button>
            <a routerLink="/auth/login" class="btn btn-outline-success">Annuler</a>
        </div>
    </form>
        </div>
       
</div>
</div>

