
  <div class="row justify-content-center mt-2">
    <div class="searchBack bg-light border col-md-6 shadow-sm d-inline p-3">
      <input (keyup)="applyFilter($event)" placeholder="Recherche" class="form-control col-md-12">
    </div>
</div>
<button mat-stroked-button type="button" [routerLink]="['/lot/add']" color="foodeco-white" class="mr-2"><mat-icon>add</mat-icon>Lot </button>
<button mat-stroked-button type="button" (click)="loadLotAvailable()" color="foodeco-white" class="mr-2">Disponible</button>
<button mat-stroked-button type="button" (click)="getAllLots()" color="foodeco-white" class="mr-2">Tout</button>
<button mat-stroked-button type="button" (click)="getLotsExpire()" color="foodeco-white" class="mr-2">Expiré</button>

    
  <div class="row mt-1">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="col-md-12" matSort>
  
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Lot </th>
            <td mat-cell *matCellDef="let row"> {{row.idLot}} </td>
          </ng-container>
    <!-- ID Column -->
        <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </th>
        <td mat-cell *matCellDef="let row"><a [routerLink]="['/supplier',row.idSupplier]" routerLinkActive="router-link-active" >{{row.Supplier.name}}</a>  </td>
      </ng-container>
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Composant </th>
        <td mat-cell *matCellDef="let row">{{row.Asset.label}} {{row.Asset.Unit.abrv}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
        <td mat-cell *matCellDef="let row">{{row.quantity}}  </td>
      </ng-container>
      <ng-container matColumnDef="currentQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité actuelle </th>
        <td mat-cell *matCellDef="let row">{{row.currentQuantity}}   </td>
      </ng-container>
      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Délivré </th>
        <td mat-cell *matCellDef="let row">{{row.deliveryDate}}    </td>
      </ng-container>
      <ng-container matColumnDef="expireDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expire </th>
        <td mat-cell *matCellDef="let row">{{row.expireDate}}   </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let row"><button mat-stroked-button color="foodeco-black" [routerLink]="['/lot/edit',row.idLot]" routerLinkActive="router-link-active" >Modifier</button>   </td>
      </ng-container>
  
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>