<div class="container">
<br />

<div class="jumbotron text-center">
    <h1 ><strong>FoodEco</strong></h1>
    <div class="view overlay hm-white-slight my-4">
        <img src="assets/pictures/screenshot1.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask"></div>
        </a>
    </div>

    <h5 class="indigo-text font-bold mb-4">L'OUTIL POUR VOTRE RESTAURANT</h5>
    <p class="card-text">Trouvez nos dernieres publications sur nos réseaux sociaux
    </p>
    <a class="mr-3 li-ic"><i class="fa fa-linkedin grey-text"> </i></a>
    <a class="mr-3 tw-ic"><i class="fa fa-twitter grey-text"> </i></a>
    <a class="fb-ic"><i class="fa fa-facebook grey-text"> </i></a>

</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="assets/pictures/planning.jpeg" class="d-block w-100" >
    </div>
    <div class="carousel-item">
        <img src="assets/pictures/restaurant1.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item">
        <img src="assets/pictures/restaurant2.jpeg" class="d-block w-100" >
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a><br />
</div>
</div>
<div class="container mt-4">
    <hr class="my-4">
    <div class="text-center darken-grey-text mb-4">
        <h3 style="color:white;" class="font-bold mb-3">Inscrivez vous dès maintenant:</h3>
        <a class="btn btn-success"  routerLinkActive="active" routerLink="/register">S'inscrire</a>
    </div>

</div>
